<.link patch="/">← All blog posts</.link>

<article class="post">
  <img src={@post.illustration} alt={@post.illustration_alt} class="w-full mx-auto my-8" />
  <h1><%= @post.title %></h1>

  <p><time><%= @post.date %></time> by <%= @post.author %> (<%= @post.body |> Blog.get_reading_duration() %> min read)</p>

  <p id="post-tags">
    Tagged as
    <%= for tag <- @post.tags do %>
      <.link patch={"/tag/#{tag}"} class="text-ultra-violet font-bold"><%= tag %></.link>
    <% end %>
  </p>

  <div class="post-body">
    <%= raw @post.body %>
  </div>
</article>
