@keyframes arrow-shake {
  25% {
    transform: rotate(10deg)
  }

  50% {
    transform: rotate(-10deg)
  }

  75% {
    transform: rotate(10deg)
  }

  100% {
    transform: rotate(-10deg)
  }
}

@keyframes on-hover-opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes glitch-anim {
  0% {
    transform: skew(8deg);
  }

  5% {
    transform: skew(8deg);
  }

  10% {
    transform: skew(-2deg);
  }

  15% {
    transform: skew(-1deg);
  }

  20% {
    transform: skew(1deg);
  }

  25% {
    transform: skew(1deg);
  }

  30% {
    transform: skew(1deg);
  }

  35% {
    transform: skew(0deg);
  }

  40% {
    transform: skew(5deg);
  }

  45% {
    transform: skew(0deg);
  }

  50% {
    transform: skew(-5deg);
  }

  55% {
    transform: skew(-5deg);
  }

  60% {
    transform: skew(-5deg);
  }

  65% {
    transform: skew(2deg);
  }

  70% {
    transform: skew(-2deg);
  }

  75% {
    transform: skew(3deg);
  }

  80% {
    transform: skew(8deg);
  }

  85% {
    transform: skew(8deg);
  }

  90% {
    transform: skew(8deg);
  }

  95% {
    transform: skew(8deg);
  }

  100% {
    transform: skew(-3deg);
  }
}