<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || Application.get_env(:nimble_blog, :website_name) %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-black antialiased">
    <header class="px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between py-6 text-sm">
        <div id="brand-logo" class="flex items-center gap-4 h-9">
          <a href={ Application.get_env(:nimble_blog, :website_url) } class="text-2xl text-future-blue font-pixel" >
            ST
          </a>
        </div>
      </div>
      <div id="brand-name" class="flex justify-center items-center gap-4 font-semibold leading-6 text-zinc-900">
        <h1 class="text-future-blue rounded-full px-2 font-pixel font-medium">
          <.link patch={"/"} class="text-future-blue font-pixel">Simon Tirant's blog</.link>
        </h1>
      </div>
    </header>

    <main class="px-4 py-20 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl">
        <h2 class="">All `<%= @conn.params["lang"] %>` blog posts: </h2>

        <p>Oops! No posts found for `<%= @conn.params["lang"] %>` language ...</p>
        <.link patch="/" class="text-future-blue text-center">&lt; Go back to root</.link>
      </div>
    </main>
  </body>
</html>
